
<div class="main-container">
    <h1 class="title-page">Mon profil</h1>
  <aside class="profile-card">
    <header>
      <%= image_tag current_user.photo.url(:bright_face), class: "avatar-extra-large" %>
      <h1><%= current_user.username %></h1>
    </header>
    <div class="profile-bio">
      <h4><%= current_user.email %></h4>
      <h4><%= current_user.phone_number %></h4>
    </div>
  </aside>
</div>
  <div class="d-flex justify-content-center profile-links">
</div>

