<div class="main-container">
  <div class="dashbord-container">
     <div id="drag-1" class="draggable">
       <p></p>
     </div>
     <div id="drag-2" class="draggable">
       <p></p>
     </div>
     <div id="drag-3" class="draggable">
       <p></p>
     </div>
     <div id="drag-4" class="draggable">
       <p></p>
     </div>
     <div id="drag-5" class="draggable">
       <p></p>
     </div>
  </div>
</div>
