<div class="main-container">
<h1>Mon Dashboard</h1>
  <div class="dashbord-container">
     <div id="drag-1" class="draggable">
      <div class="draggable-content">
       <p>Depuis Mercredi!</p>
       </div>
     </div>
     <div id="drag-2" class="draggable">
       <div class="draggable-content">
       <p>My sweet Sixteen</p>
       </div>
     </div>
     <div id="drag-4" class="draggable">
       <div class="draggable-content">
       <p>Strong Women</p>
       </div>
     </div>
     <div id="drag-3" class="draggable">
       <div class="draggable-content">
       <p>Ggrgrhrggg</p>
       </div>
     </div>
     <div id="drag-5" class="draggable">
       <div class="draggable-content">
       <p>Nice graph</p>
       </div>
     </div>
     <div id="drag-6" class="draggable">
       <div class="draggable-content">
       <p>Go?</p>
       </div>
     </div>
  </div>
</div>
