<div class="main-container">
    <h1>Mes Restaurants</h1>
    <% @restaurants.each do |restaurant| %>
      <h2><%= link_to(restaurant.name, manager_restaurant_path(restaurant)) %></h2>
    <% end %>
    <h2><%= link_to("Ajouter nouveau restaurant", new_manager_restaurant_path) %></h2>
</div>