.restaurant-summary {
  width:410px;
  display: flex;
  margin: 0 auto;
  margin-top:20px;
  justify-content: space-between;
}

.restaurant-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.restaurant-info > h2 {
  font-size: 18px;
  font-weight: bold;
}

.restaurant-info > p {
  font-size: 14px;
}

.restaurant-photo {
  width:190px;
  height: 100px;
}

.restaurant-photo img{
  max-width:100%;
  max-height:100%;
  border-radius: 5px;
}

.review {
  width: 1120px;
  display:flex;
  margin-top: 40px;
}

.review-title {
  border-bottom: 1px solid black;
  width:40%;
  padding: 10px;
  margin-bottom:50px;
  font-family: $headers-font;
  color: black !important;
}

.italic-green-text {
  font-style: italic;
  color: $green;
}

.form-review {
  font-size:18px;
}

.input-boxes {
  width: 500px;
  border: 1px solid $light-blue;
  border-radius: 8px;
  padding: 20px 30px;
  background-color: $white;
  margin: 0 auto;

}

.form-control {
  background-color: $light-gray !important;
}

.input-boxes input {
  border-radius:8px;
}

.input-boxes {
  font-family: $body-font !important;
  font-size: 18px !important;
}

.form-group label {
  font-family: $body-font !important;
  font-size: 18px;
}

.input-type {
  border-radius:8px;
}

.br-theme-css-stars .br-widget a {
  font-size: 40px !important;
  margin-right: 18px !important;
}

.publier-questionnaire {
  width: 200px;
  font-size: 16px;
  font-family: $headers-font;
  background-color: $green;
  padding: 16px 20px;
  transition: 0.2s ease-in-out;
  margin: 0 auto;
  border-radius: 8px;
  text-align: center;
  border: none !important;
  color: white;
}

.publier-questionnaire a {
  color: white !important;
  text-decoration: none !important;
}

.publier-questionnaire:hover {
  transform:scale(1.05);
  box-shadow: 2px 2px 300px 6px rgba(5, 5, 5, 0.2);
}

.publier-div {
  margin-top: 20px;
  text-align: center;
}

.newq {
  color: $light-blue;
  font-family: $body-font;
  font-size: 16px;
  background-color: white;
  padding: 5px;
  border-radius: 8px;
}

.newq:hover {
  color: $light-blue;
  font-family: $body-font;
  font-size: 16px;
  text-decoration: none;
  transform:scale(1.03);
  box-shadow: 2px 2px 300px 6px rgba(5, 5, 5, 0.2);
}

.form-check-label {
  font-family: $body-font !important;
  font-size: 14px !important;
}

.form-check {
  text-align: center;
}

.check-input {
  display: flex;
  justify-content: space-around;
}

.questionnaire-nom {
  background-color: $green;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}

.questionnaire-nom input {
  border: none;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  font-family: $body-font;
  font-size: 16px;
}

.question_pool_restaurant_id {
  display: flex;
  justify-content: space-around;
}

.form-group {
  margin-bottom: 0rem !important;
}

.mes-questions {
  width: 50%;

}

.mes-questions p {
  margin: auto 0 !important;

}

.une-question {
  width: 450px;
  border: 1px solid $light-blue;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto 16px auto;
  background-color: white;
}

.questions {
  margin: auto;
}

.questions a {
  display: flex;
}


.mon-questionnaire {
  width: 50%;
}

.type-of-input {
  // margin-left: 16px;
  // padding: 1px 5px;
  // border-radius: 4px;
  // color: black;
  // font-family: $body-font;
  // font-size: 8px;
  height: 10px;
  width: 10px;
  background-image: url('https://i.ibb.co/FD93f0J/writting.jpg');
  background-size: cover;
}

.delete-bin {
  margin-right: 5px;
  margin-left: 10px;
  text-align: center;
}

.delete-bin a {
  color: $brown;
}

#titre-crer-formulaire {
  font-family: $headers-font;
  font-size: 32px;
  color: black;
  border-bottom: 1px solid black !important;
  width:400px;
  padding: 10px;
  margin-bottom: 20px;
  margin: 0 auto;
  text-align: center;
}

#mes-question-en-cours {
  font-family: $headers-font;
  font-size: 32px;
  color: black;
  border-bottom: 1px solid black !important;
  width:400px;
  padding: 10px;
  margin-bottom: 20px;
  margin: 0 auto;
  text-align: center;
}


.check-card-1 {
  height: 120px;
  width: 120px;
  background-image: url('https://i.ibb.co/FD93f0J/writting.jpg');
  background-size: cover;
  border: 1px solid $brown;
  border-radius: 4px;
}

.check-card-1 fieldset {
  background-color: white;
  margin-top: 91px;
  border-radius:4px;
}

.check-card-2 {
  height: 120px;
  width: 120px;
  background-image: url('https://i.ibb.co/88WqhjC/stars.jpg');
  background-size: cover;
  border: 1px solid $brown;
  border-radius: 4px;
}

.check-card-2 fieldset {
  background-color: white;
  margin-top: 91px;
  border-radius:4px;
}
