.restaurant-summary {
  width:785px;
  display: flex;
  margin: 0 auto;
  margin-top:40px;
  margin-bottom: 30px;
  justify-content: space-between;
  height: 220px;
}

.restaurant-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width:720px;
}

.br-theme-css-stars .br-widget {
  margin-bottom: 45px;
}

.restaurant-info > h2 {
  font-size: 32px;
  font-weight: bold;
  color: $green;
}

.restaurant-info > p {
  font-size: 17px;
}

.restaurant-photo {
  width:1400px;
  height: 100%;
}

.restaurant-photo img{
  max-width:100%;
  max-height:100%;
  border-radius: 5px;
}

.review {
  width: 1120px;
  display:flex;
  margin: 0 auto;
  margin-top: 40px;
}

.review-title {
  border-bottom: 1px solid black;
  width:40%;
  padding: 10px;
  margin-bottom:50px;
  font-family: $headers-font;
  color: black !important;
}

.review-title2 {
  border-bottom: 1px solid black;
  width:100%;
  padding: 10px;
  margin-bottom:50px;
  font-family: $headers-font;
  color: black !important;
}

.review-title3 {
  border-bottom: 1px solid black;
  width:100%;
  padding: 10px;
  margin-bottom:10px;
  font-family: $headers-font;
  color: black !important;
}
 .btn-padding {
  margin-top: 60px;
 }

.italic-green-text {
  font-style: italic;
  color: $green;
}

.form-review {
  font-size:18px;
}

.input-boxes {
  width: 500px;
  border: 1px solid $light-blue;
  border-radius: 8px;
  padding: 20px 30px;
  background-color: $white;
  margin: 0 auto;

  p {
    margin-bottom: 32px;
  }
}

.disclaimer {
  font-size: 10px;
  margin-bottom:50px;
}

.input-space {
  margin-bottom:30px;
}

.input-boxes-review {
  width: 825px;
  border: 1px solid $light-blue;
  border-radius: 8px;
  padding: 20px 30px;
  background-color: $white;
  margin: 0 auto;
  height: 100%;
  padding-bottom: 40px;
}

.form-control {
  background-color: $light-gray !important;
}

.input-boxes input {
  border-radius:8px;
}

.input-boxes {
  font-family: $body-font !important;
  font-size: 18px !important;
}

.form-group label {
  font-family: $body-font !important;
  font-size: 18px;
}

.input-type {
  border-radius:8px;
}

.br-theme-css-stars .br-widget a {
  font-size: 40px !important;
  margin-right: 18px !important;
}

.publier-questionnaire {
  width: 200px;
  font-size: 16px;
  font-family: $headers-font;
  background-color: $green;
  padding: 16px 20px;
  transition: 0.2s ease-in-out;
  margin: 0 auto;
  border-radius: 8px;
  text-align: center;
  border: none !important;
  color: white;
}

.publier-questionnaire a {
  color: white !important;
  text-decoration: none !important;
}

.publier-questionnaire:hover {
  // transform:scale(1.05);
  box-shadow: 2px 2px 300px 6px rgba(5, 5, 5, 0.2);
}

.publier-div {
  margin-top: 20px;
  text-align: center;
}

.newq {
  color: $light-blue;
  font-family: $body-font;
  font-size: 16px;
  background-color: white;
  padding: 5px;
  border-radius: 8px;
}

.newq:hover {
  color: $light-blue;
  font-family: $body-font;
  font-size: 16px;
  text-decoration: none;
  transform:scale(1.03);
  box-shadow: 2px 2px 300px 6px rgba(5, 5, 5, 0.2);
}

.form-check-label {
  font-family: $body-font !important;
  font-size: 14px !important;
}

.form-check {
  text-align: center;
}

.check-input {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
}

.questionnaire-nom {
  background-color: $green;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 30px;
}

.questionnaire-nom input {
  border: none;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  font-family: $body-font;
  font-size: 16px;
}

.question_pool_restaurant_id {
  display: flex;
  justify-content: space-around;
}

.form-group {
  margin-bottom: 0rem !important;
}

.mes-questions {
  width: 50%;
}

.mes-questions p {
  margin: auto 0 !important;
}

.une-question {
  width: 450px;
  border: 1px solid $light-blue;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto 16px auto;
  background-color: white;
}

.questions {
  margin: auto;
}

.questions a {
  display: flex;
}

.mon-questionnaire {
  width: 50%;
}

.type-of-input-1 {
  height: 20px;
  width: 30px;
  background-image: image-url('writting.jpg');
  background-size: cover;
}

.type-of-input-2 {
  height: 20px;
  width: 30px;
  background-image: image-url('stars.jpg');
  background-size: cover;
}

.delete-bin {
  margin-right: 5px;
  margin-left: 10px;
  text-align: center;

  a {
    color: $green;
  }
}

.title-question {
  font-family: $headers-font;
  font-size: 32px;
  color: $gray;
  border-bottom: 1px solid black !important;
  width:400px;
  padding: 10px;
  margin-bottom: 20px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.check-input input {
  display: none;
}

.check-card {
  display: flex;
  height: 120px;
  width: 120px;
  background-size: cover;
  border: 1px solid $green;
  border-radius: 4px;
  transition: 0.3s ease-in-out;

  &.stars {
    background-image: image-url('stars.jpg');
  }
  
  &.writting {
    background-image: image-url('writting.jpg');
  }

  &:hover {
    cursor: pointer;  
  }
  
  span {
    width: 100%;
    text-align: center;
    align-content: flex-end;
    background-color: white;
    margin-top: 91px;
    border-radius: 0 0 4px 4px;
    font-size: 16px !important;
  }
  
  &.selected {
    transform: scale(1.1);
    border-width: 2px;  
  }
  
  &.selected span {
    background-color: $green;
    border-radius: 0;
  }
}