.form-review1 {
  width: 65%;
  border: 1px solid $light-blue;
  border-radius: 8px;
  padding: 10px 10px;
  background-color: $white;
  margin: 0 auto;
  margin-bottom:50px;
  text-align: center;
}

.form-review1 img {
  width: 30px;
  height: 30px;
}

.answer{
  border-bottom: 1px solid $light-gray;
  margin-top: 20px;
  padding-bottom: 20px;
  height:100%;
  font-family: $body-font;
  font-size: 12px;
}

.hidden {
  display:none;
}

.review-title4 {
  border-bottom: 1px solid black;
  width:100%;
  padding: 10px;
  margin-bottom:20px;
  font-family: $headers-font;
  color: black !important;
  font-size: 18px;
  text-align: center;
}

.fa-plus-circle:before {
  color: $green;
}

.fa-minus-circle:before {
  padding-top:40px;
  color: $green;
}

.charts1 {
  height:500px;
}

.fa-minus-circle {
  padding-top: 30px;
}

.fa-plus-circle {
  padding-top: 10px;
}
