.restaurant-summary {
  width:410px;
  display: flex;
  margin: 0 auto;
  margin-top:20px;
  justify-content: space-between;
}

.restaurant-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.restaurant-info > h2 {
  font-size: 18px;
  font-weight: bold;
}

.restaurant-info > p {
  font-size: 14px;
}

.restaurant-photo {
  width:190px;
  height: 100px;
}

.restaurant-photo img{
  max-width:100%;
  max-height:100%;
  border-radius: 5px;
}

.review {
  width: 1120px;
  margin: 0 auto;
  // opacity:0.8;
}

.review-title {
  border-bottom: 1px solid black;
  width:40%;
  padding: 10px;
  margin-bottom:50px;
  font-family: $headers-font;
  color: black !important;
}

.italic-green-text {
  font-style: italic;
  color: $green;
}

.form-review {
  font-size:18px;
  margin-bottom: 40px;
}

.inputboxes {
  width: 600px;
  border: 1px solid $light-blue;
  border-radius: 8px;
  padding: 20px 30px;
  margin: 40px auto;
  background-color: $light-gray;
}

.input-boxes input {
  border-radius:8px;
}

.input-type {
  border-radius:8px;
  margin-bottom: 50px;
}

.br-theme-css-stars .br-widget a {
  font-size: 40px !important;
  margin-right: 18px !important;
}

.publier-questionnaire {
  width: 150px;
  font-size: 16px;
  font-family: $headers-font;
  background-color: $green;
  padding: 16px 20px;
  transition: 0.2s ease-in-out;
  margin: 0 auto;
  border-radius: 8px;
  text-align: center;
  border: none !important;
  color: white;
}

.publier-questionnaire a {
  color: white !important;
  text-decoration: none !important;
}

.publier-questionnaire:hover {
  transform:scale(1.05);
  box-shadow: 2px 2px 300px 6px rgba(5, 5, 5, 0.2);
}

.publier-div {
  margin-top: 20px;
  text-align: center;
}

.newq {
  color: $light-blue;
  font-family: $body-font;
  font-size: 16px;
}

.newq:hover {
  color: $light-blue;
  font-family: $body-font;
  font-size: 16px;
  text-decoration: none;
}

.form-check-label {
  font-family: $body-font !important;
  font-size: 14px;
  margin-left: 5px;
}

.check-input {
  display: flex;
  justify-content: space-around;
}

.questionnaire-nom {
  background-color: $green;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}
