.restaurantrecap {
  width:410px;
  display: flex;
  margin: 0 auto;
  margin-top:20px;
  justify-content: space-between;
}

.resto-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.restoname {
  font-size: 18px;
  font-weight: bold;
}

.restoaddress{
  font-size: 14px;
}

.restaurant-photo {
  width:190px;
  height: 100px;
}

.restaurant-photo img{
  max-width:100%;
  max-height:100%;
  border-radius: 5px;

}

.review {
  width: 1120px;
  margin: 0 auto;
  margin-bottom: 50px;
  opacity:0.6;
}

.reviewtitle {
border-bottom: 1px solid black;
width:50%;
margin-top:50px;
margin-bottom:50px;
margin: 0 auto;
text-align: center;
font-family: $headers-font;
color: black !important;
}

.form-review {
  font-size:18px;
}

.inputboxes {
  width: 500px;
  border: 1px solid $light-blue;
  border-radius: 8px;
  padding: 20px;
  margin-top: 40px !important;
  margin: 0 auto;
}

.inputboxes p {
  font-family: $headers-font !important;
  color: black !important;
  font-size: 20px;
}

.string {
  font-family: $headers-font !important;
  color: black !important;
  font-size: 20px !important;
}

.inputboxes input {
  border-radius:8px;
}

.questionboxes {
  border: 1px solid #4A4A4A;
  border-radius:8px;
  width: 100%;
}

.inputboxes label {
}

.inputboxes textarea {
  border: 1px solid #4A4A4A;
  border-radius:8px;
}

.br-theme-css-stars .br-widget a {
  font-size: 40px !important;
  margin-right: 18px !important;
}

.inputtype {
  margin-bottom: 50px;
}

.questions {
  border: 1px solid black;
  border-radius:8px;
  width:100%;
  height: calc(1.5em + 0.75rem + 2px);
  display: flex;
  text-align: center;
}

.publier-questionnaire {
  width: 150px;
  font-size: 16px;
  font-family: $headers-font;
  background-color: $green;
  padding: 16px 20px;
  transition: 0.2s ease-in-out;
  margin: 0 auto;
  border-radius: 8px;
  text-align: center;
  border: none !important;
  color: white;
}

.publier-questionnaire a {
  color: white !important;
  text-decoration: none !important;

}

.publier-questionnaire:hover {
  transform:scale(1.05);
  box-shadow: 2px 2px 300px 6px rgba(5, 5, 5, 0.2);
}

.publier-div {
  margin-top: 20px;
  text-align: center;
}

.newq {
  color: $light-blue;
  font-family: $body-font;
  font-size: 16px;
}

.newq:hover {
  color: $light-blue;
  font-family: $body-font;
  font-size: 16px;
  text-decoration: none;
}

.form-check-label {
  font-family: $body-font !important;
  font-size: 14px;
}

