.restaurantrecap {
  width:410px;
  display: flex;
  margin: 0 auto;
  margin-top:20px;
  justify-content: space-between;
}

.resto-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.restoname {
  font-size: 18px;
  font-weight: bold;
}

.restoaddress{
  font-size: 14px;
}

.restaurant-photo {
  width:190px;
  height: 100px;
}

.restaurant-photo img{
  max-width:100%;
  max-height:100%;
  border-radius: 5px;

}

.review {
  width: 1120px;
  margin: 0 auto;
  margin-bottom: 50px;
  opacity:0.6;
}

.reviewtitle {
border-bottom: 1px solid #4A4A4A;
width:50%;
margin-top:50px;
margin-bottom:50px;
}

.form-review {
  font-size:18px;
}

.inputboxes input {
  border: 1px solid #4A4A4A;
  border-radius:8px;
}

.questionboxes {
  border: 1px solid #4A4A4A;
  border-radius:8px;
  width: 100%;
}

.inputboxes label {
}

.inputboxes textarea {
  border: 1px solid #4A4A4A;
  border-radius:8px;
}

.br-theme-css-stars .br-widget a {
  font-size: 40px !important;
  margin-right: 18px !important;
}

.btn-ghost {
  margin-top:20px;
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-bottom: 50px;
  margin-top: 50px;
  width: 150px;
  height: 50px;
}

.btn-ghost:hover {
  opacity: 1;
}


.inputtype {
  margin-bottom: 50px;
}

.questions {
  border: 1px solid #4A4A4A;
  border-radius:8px;
  width:100%;
  height: calc(1.5em + 0.75rem + 2px);
  display: flex;
  text-align: center;
}
