.details-container.share-review {
    padding: 20px;
    width: auto;
}

.details-container .title-page {
    font-size: 1.3em;
    font-weight: bold;
    color: $green;
    width: 300px; 
    margin-bottom: 36px;
    padding-left: 0;
}

.share-review-form-container select {
    width: 200px;
    margin-right: 8px;
}

.share-review-form-container input {
    width: 250px;
    margin-right: 8px;
}

.share-review-form-container .link-text {
    margin: 0 !important;
}

.feedback-msg {
    font-style: italic;
    margin: 0 !important;
    visibility: hidden;
}

.feedback-msg.fail {
    color: red !important;
    visibility: visible;
}

.feedback-msg.success {
    color: $green !important;
    visibility: visible;
}

.link-text {
    margin: 0;
}

#email.fail {
    background-color: rgba(224, 106, 106, 0.2);
}

#email.success {
    background-color: $green;
}

// Restaurant dropdown hidden as it is considered that a owner has only one restaurant
.share-review-form-container #restaurant {
    display: none;
}