<div class="main-container">

  <h1>Mes coupons</h1>

  <% @coupons.each do |coupon| %>
      <%= coupon.restaurant.name %>
      <%= coupon.details %>
      <%= coupon.is_valid? %>
  <% end %>
</div>
