<details id="login-form" class="connected-btn">
  <summary>S'identifier</summary>

    <div class="tab active">
      <%= render partial: 'devise/sessions/new' %>
    </div>

    <div class="tab">
      <%= render partial: 'devise/registrations/new' %> 
    </div>

</details>
