<div class="review">
  <div class="reviewtitle"><h2>Réponses au sondage</h2></div>
    <div class="form-review">
      <% QuestionPool.where(restaurant: @restaurant).last.questions.each do |question| %>
      <div class="questionboxes"><%= question.name %></div>
        <% question.answers.each do |answer| %>
        -<%= answer.content %>
        <% end %>
      <% end %>
      </div>

<% @answerss = Question.last.answers %>

    <div class="charts">
    <% @answer1 = @answerss.where(content: '1').length %>
    <% @answer2 = @answerss.where(content: '2').length %>
    <% @answer3 = @answerss.where(content: '3').length %>
    <% @answer4 = @answerss.where(content: '4').length %>
    <% @answer5 = @answerss.where(content: '5').length %>
     <% @data = {
        labels: ['Mauvais', 'Assez Mauvais', 'Pas mal', 'Bien', 'Très bien'],
        datasets: [{
            label: 'note moyenne',
            # @reviews est une array, la ligne ci dessous recupere la note moyenne (index[1]) contenue pour chaque mois[0..11]
            data: [@answer1, @answer2, @answer3, @answer4, @answer5],
            backgroundColor: ['rgba(143, 214, 148, 0.4)','rgba(255, 255, 148, 0.4)', 'rgba(0, 0, 120, 0.4)', 'rgba(50, 25, 255, 0.4)', 'rgba(50, 255, 255, 0.4)'],
            borderColor:'rgba(143, 214, 148, 0.4)',
            fill: false,
            borderWidth: 4
        }]
    } %>
<% @options = {
    responsive: true,
    maintainAspectRatio: false,
        scales: {
          yAxes: [{
              ticks: {
                beginAtZero: true
              }
          }]
        }
  } %>
<%= pie_chart @data, @options %>
    </div>
  </div>
</div>
