<div class="home-header" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.lyonresto.com/contenu/photo_restaurant/0_photo_automatique/victoire_et_thomas/03_Victoire-et-selection-Thomas-restaurant-bar-a-vin-gastronomie-Lyon.jpg); background-size: cover">
  <div class="home-title">
    <h1>The Honest Meal</h1>
    <h2>Don't let fake reviews ruin your meal</h2>
  </div>
  <div class="search-bar">
    <p>Entrez une ville ou un restaurant</p>
    <p>Entrez une catégorie</p>
    <h3>Search</h3>
  </div>
</div>
<div class="main-container">
  <div class="">
    Les bateaux les plus loués
  </div>

</div>
-
