<div class="home-header" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://i.ibb.co/6mj3QjW/fonddd.jpg)">
  <div class="home-title">
    <h1>The Honest Meal</h1>
    <h3>Votre business commence par des feedbacks</h3>
  </div>
    <details class="join-us-details">
      <summary class="join-us-btn">Rejoignez-nous</summary>
      <%= render partial: 'shared/login_form' %>
    </details>
</div>


<div class="main-container">
  <h1>Pourquoi nous rejoindre?</h1>
  <div class="block-text-image">
    <div class="text-main-page">
      <div class="images-main-page">
        <p>Un accès à des commentaires verifiés de clients venus dans votre restaurant</p>
        <p><img src="https://pngimage.net/wp-content/uploads/2018/05/confiance-png-3.png"></p>
      </div>
      <div class="images-main-page">
          <p>La possibilité d'envoyer des sondages avec questions personalisées afin d'améliorer la qualité de votre
          restaurant et du service en fonction des avis</p>
          <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Twitter_Verified_Badge.svg/1024px-Twitter_Verified_Badge.svg.png"></p>
        </div>
        <div class="images-main-page">
          <p> Avoir le suivi des retours et accès à un tableau de bord personnalisable.</p>
          <p><img src="https://www.repugen.com/Images/positive-review.png"></p>
        </div>
    </div>
    
  </div>
</div>

