<div class="home-header" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://www.lyonresto.com/contenu/photo_restaurant/0_photo_automatique/victoire_et_thomas/03_Victoire-et-selection-Thomas-restaurant-bar-a-vin-gastronomie-Lyon.jpg);">
  <div class="home-title">
    <h1>The Honest Meal</h1>
    <h3>Ne laissez pas les faux commentaires ruiner votre repas</h3>
  </div>
  <div class="search-bar">
    <p>Entrez une ville ou un restaurant</p>
    <p>Entrez une catégorie</p>
    <h3>Search</h3>
  </div>
</div>
<div class="main-container">
    <h1>Pourquoi nous faire confiance?</h1>
    <p>ouah ptn c ouf notre site c le meilleur ptn je comprend pas pk vous vnez pas dessus la tete de ma mere
       jvais coller des mandalle de forain si tu lis pas nos super reviews aller je fais copier-coller flemme
     de tout ecrire encore.
       ouah ptn c ouf notre site c le meilleur ptn je comprend pas pk vous vnez pas dessus la tete de ma mere
       jvais coller des mandalle de forain si tu lis pas nos super reviews aller je fais copier-coller flemme
     de tout ecrire encore.
       ouah ptn c ouf notre site c le meilleur ptn je comprend pas pk vous vnez pas dessus la tete de ma mere
       jvais coller des mandalle de forain si tu lis pas nos super reviews aller je fais copier-coller flemme
     de tout ecrire encore.
       ouah ptn c ouf notre site c le meilleur ptn je comprend pas pk vous vnez pas dessus la tete de ma mere
       jvais coller des mandalle de forain si tu lis pas nos super reviews aller je fais copier-coller flemme
     de tout ecrire encore.</p>
</div>
