<div class="home-header ">
  <div class="home-title">
    <h1>The Honest Meal</h1>
  </div>
  <div class="search-bar">
    <p>Entrez une ville ou un restaurant</p>
    <p>Entrez une catégorie</p>
    <h3>Search</h3>
  </div>
</div>
<div class="main-container">
  <div class="">
    Les bateaux les plus loués
  </div>

</div>
-
