<%= render 'shared/login_form' %>
<div class="home-header" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://i.ibb.co/6mj3QjW/fonddd.jpg)">
  <div class="home-title">
    <h1>The Honest Meal</h1>
    <h3>Votre business commence par des feedbacks</h3>
  </div>
  <div class="join-us-btn">
    <%= link_to "Rejoignez-nous", new_user_registration_path, class: "" %>
  </div>
</div>

<div class="main-container">
  <h1>Pourquoi nous faire confiance?</h1>
  <div class="block-text-image">
    <div class="text-main-page">
        <p>ouah ptn c ouf notre site c le meilleur ptn je comprend pas pk vous vnez pas dessus la tete de ma mere
         jvais coller des mandalle de forain si tu lis pas nos super reviews aller je fais copier-coller flemme
         de tout ecrire encore.</p>
         <p>ouah ptn c ouf notre site c le meilleur ptn je comprend pas pk vous vnez pas dessus la tete de ma mere
         jvais coller des mandalle de forain si tu lis pas nos super reviews aller je fais copier-coller flemme
         de tout ecrire encore.</p>
         <p>ouah ptn c ouf notre site c le meilleur ptn je comprend pas pk vous vnez pas dessus la tete de ma mere
         jvais coller des mandalle de forain si tu lis pas nos super reviews aller je fais copier-coller flemme
         de tout ecrire encore.</p>
    </div>

    <div class="images-main-page">
      <p><img src="https://pngimage.net/wp-content/uploads/2018/05/confiance-png-3.png"></p>
      <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Twitter_Verified_Badge.svg/1024px-Twitter_Verified_Badge.svg.png"></p>
      <p><img src="https://www.repugen.com/Images/positive-review.png"></p>
    </div>

  </div>
</div>
