<p>Bonjour,</p>

<p>Veuillez-trouver ci-dessous votre lien unique pour laisser un avis concernant le restaurant <%= @review.restaurant.name %>:
</p>

<p>Lien : <%= @review_link %></p>


<p>A bientôt !</p>

<p>The Honest Meal</p>