<p>Hello,</p>
<br>
<br>
<div style="display: -webkit-inline-box;">
    <p>Vous recevez ce mail suite à votre visite au restaurant <strong><span style="color: #9adba3; margin-left: 5px; margin-bottom: 10px; size: 18px;">
        <%= @review.restaurant.name %></span></strong>.</p>
</div>
<br>
<br>
<p>Vous trouverez ci-dessous un lien vous permettant de laisser anonymement votre avis ainsi que des remarques destinées au restaurateur.</p>
<br>
<br>
<p><strong><%= link_to "Laissez mon avis", @review_link %></strong></p>
<br>
<br>
<p>A noter que ce lien est à usage unique et valable pour une durée de 7 jours. Passé ce délai, il sera trop tard :)</p>
<br>
<p>A très bientôt !</p>
<br>