<div class="main-container">
  <h1>Restaurants près de XXX</h1>
  <br>
  <div class="restaurant-grid">
    <%= render partial: 'shared/restaurant_cards', locals: {restaurants: @restaurants} %>
  </div>
</div>
