.card-grid {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background: black;
  opacity: 0;
}

.card-restaurant {
  position: relative;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 12px;
  transition: 0.15s ease-in-out;

  &:hover {
    transform: scale(1.01);
    box-shadow:  10px 10px 70px 2px rgba(0,0,0,0.4);
  }
}

.card-restaurant > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-restaurant h2 {
  font-size: 18px;
  margin: 0 0 8px 0;
}

.card-restaurant p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-restaurant-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-restaurant-infos-right {
  text-align: right;
}

.restaurant-rating {
  width: 150px;
  height: 50px;
}

.city-cards {
  color :white;
}

.cities {
  padding-left: 24px !important;
}
