html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 160px;
  min-height: 100%;
  height: auto;
}

@media all and (max-width: 768px) {
  body{
    width: fit-content;
  }
  }

#footer {
  background: white;
  font-size : 14px;
  display: block;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: $dark;
  border-top: 1px solid black;
  padding : 12px 50px;
  position: absolute;
  bottom: 0;
}

#footer h4 {
  font-size:14px;
}

.footer-category h4{
  text-align: center;
}

.footer-links a {
  color: $dark;
  font-size: 20px;
}
.footer-title {
  text-align: left;
}

// Ligne copyright
.footer-copyright {
  color:black;
  border-top: 1px solid black;
  padding-top: 4px;
}

// Couleurs des logos
#footer .fa-trello {
  color: #6DC06B;
}

#footer .fa-heart {
  color: #D23333;
}

#footer .fa-twitter {
  color:#43A1F2;
}

#footer .fa-linkedin {
  color:#2E73B0
}

#footer-category {
  list-style: none;
  margin: 8px;
}

.social-logos {
  list-style: none;
}

.footer_infos {
  display: flex;
  justify-content: space-between;
}
@media all and (max-width: 1024px) {
  .footer_infos {
    display: block;
  }
  .main-container {
    width: 100%;
  }
  .footer-category h4{
  text-align: left;
}
}
