.sign-up {
  width: 80%;
  border: 1px solid black;
  border-radius: 8px;
  padding: 32px;
  background-color: white;
  margin: 50px;
  margin-left: 180px;
}

.sign-title {
  padding: 24px;
  text-align: center;
}

.log-links {
   text-align: center;
}

.form-logo{
  text-align: center;
  font-size: 24px;
  .logo {
    font-size: 24px;
  }
}
