.main-container {
    width: 85%;
    margin: 20px auto;
    padding: 10px;
}

.main-container-bis {
  padding-bottom: 45px;
}

@media all and (max-width: 600px) {
.main-container-bis {
  padding-bottom: 260px !important;
  }
}

@media all and (max-width: 350px) {
.main-container-bis {
  padding-bottom: 280px !important;
  }
}

