.main-container {
    width: 85%;
    margin: 20px auto;
    padding: 10px;
    padding-bottom: 45px;
}

@media all and (max-width: 700px) {
  .main-container {
  width: 100%;
}
  .main-container-bis {
    padding-bottom :-20px;
  }
}

@media all and (max-width: 1024px) {
.main-container {
  padding-bottom: 200px !important;
  }
}

// .sign-form-container {
//   text-align: center;
//   margin:0 auto;  
//   width: 50%;

//   .sign-up {
//     margin: 0 auto;
//   }

//   .sign-up label {
//     text-align: left !important;
//   }
// }
