.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  overflow: visible;
  height: 56px;
}

.nav-link {
  color: white;
  font-size: 12px;
  font-family: $body-font;
  background-color: $green;
  padding: 10px;
  transition: 0.2s ease-in-out;
  text-align: center;
  border-radius: 8px;
}

.nav-item a:visited {
  text-decoration: none, !important;
}

.nav-logo p {
  display: inline-block;
  color: black;
  margin-bottom: 0rem;
  font-family: $headers-font;
  font-size: 20px;
}

.collapse {
  justify-content: flex-end;
}

.collapse p {
  color: white;
  margin-top: 6px;
  padding: 0 16px;
}

.logo {
  height: 50px;
}


.dropdown-menu {
  opacity: 0.9;
  border-radius: 6px;
  border: none;
}

.dropdown-item {
  background-color: $light-gray;
  border-radius: 4px;
}

.dropdown-menu a:hover {
  color: $green !important;
  transform:scale(1.02) !important;
  border-radius: 8px;
}

.avatar {
  margin-left: 10px;
}


@keyframes disapear{
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.alert-info {
  background-color: $green;
  color: white;
  font-family: $body-font;
  border-radius: 8px;
  border: none !important;
  animation-duration: 1.2s;
  animation-name: disapear;
  visibility: hidden;
}
