.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  overflow: visible;
  height: 56px;
}

.nav-link {
  color: white;
  font-size: 12px;
  font-family: $body-font;
  background-color: $green;
  padding: 10px;
  transition: 0.2s ease-in-out;
  text-align: center;
  border-radius: 8px;
}

.nav-item a:visited {
  text-decoration: none, !important;
}

.nav-logo p {
  display: inline-block;
  color: black;
  margin-bottom: 0rem;
  font-family: $headers-font;
  font-size: 20px;
}

.collapse {
  justify-content: flex-end;
}

.collapse p {
  color: white;
  margin-top: 6px;
  padding: 0 16px;
}

.logo {
  height: 50px;
}

.dropdown-menu {
  opacity: 0.9;
  border-radius: 6px;
  border: none;
}

.dropdown-item {
  background-color: $light-gray;
  border-radius: 4px;
}

.dropdown-menu a:hover {
  color: $green !important;
}

.avatar {
  margin-left: 10px;
}

@keyframes disapear{
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

.alert-info {
  background-color: $green;
  color: white;
  font-family: $body-font;
  border-radius: 8px;
  border: none !important;
  animation-duration: 1.2s;
  animation-name: disapear;
  visibility: hidden;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand {
  padding: 0;
}

.navbar {
  padding: 0 1rem;
}

.nav-item.dropdown {
    cursor: pointer;
}

#navbarDropdown {
  cursor: pointer;
}

li.nav-logo {
  display: flex;
  align-items: center;
}

// Responsive sur tablette
@media all and (max-width: 768px) {
  #navbar p {
    visibility: hidden;
  }

  #navbar {
    display :flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-logo {
    height: 100%;
    left: 0 !important;
  }
}