.card-product1 {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom:25px;
  border-radius: 5px;
  border: 1px solid $green;
  justify-content: between;
}

.card-product1 img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product1 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product1 p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product1 .card-product-infos {
  padding: 16px;
}

.card-product2 {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom:25px;
  border-radius: 5px;
  border: 1px solid $green;
  justify-content: between;
  opacity:0.5;
}

.card-product2 img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product2 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product2 p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product2 .card-product-infos {
  padding: 16px;
}

.med-main-container {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    padding-bottom: 45px;
}

.envoyercoupon{
  margin-left: 370px;
}

.connected-btn2 {
  color: $dark;
  border: 1px solid $green;
  padding: 6px 16px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: 0.2s ease;
  margin-left: 10px;
  font-size: 14px;
  font-family: $body-font;
}

.connected-btn2:hover {
  opacity: 1;
  color: $green !important;
  // transform:scale(1.05);
  text-decoration: none !important;
}

.connected-btn3 {
  color: $dark;
  background-color: $green;
  padding: 6px 16px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.6;
  transition: 0.2s ease;
  margin-left: 10px;
  font-size: 14px;
  font-family: $body-font;
  color:white;
}

.connected-btn3:hover {
  color: $dark;
  background-color: $green;
  padding: 6px 16px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.6;
  transition: 0.2s ease;
  margin-left: 10px;
  font-size: 14px;
  font-family: $body-font;
  color:white;
}
