<div class="details-container share-review">

  <h2 class="title-page">Envoyer le questionnaire</h2>

  <%= form_tag reviews_path, class: "", method: :post, remote: true do |f| %>
      <div class="share-review-form-container">
          <%= select_tag :restaurant, options_from_collection_for_select(current_user.restaurants, "id", "name") %>
          <%= text_field_tag :email, nil, placeholder: "John.doe@example.com" %>
          <%= button_tag(type: "submit", class: "publier-questionnaire") do %>
            <p class="link-text">Envoyer</p>
          <% end %>
          <p class="feedback-msg"></p>
      </div>
  <% end %>

</div>