<details>
  <summary class="connected-btn">+</summary>

  <div class="details-container">

    <%= form_tag restaurants_path, class: "", method: :get do |f| %>
        <div class="search-bar">
            <%= text_field_tag :name,
            params[:name],
            class: error ? "search-bar-city invalid-search-bar": "search-bar-city",
            placeholder: "John.doe@example.com"
            %>
            <p class="invalid-search-message"><%= error %></p>
        </div>
        <%= button_tag(type: "submit", class: "search-bar-button") do %>
            <p>Search</p>
        <% end %>
    <% end %>

  </div>

</details>
