
<div class="error">
  <li style="list-style: none">
    <h1>Humm... Ce lien ne semble pas être valide...</h1>
    <img src="/images/torch.png" alt="">
    <i class="fas fa-check-circle fa-2x"></i>
    <i class="fas fa-exclamation-triangle fa-2x"></i>
  </li>
</div>
