<div class="main-container">
  <header class="site-header" id="header">
    <h1 class="title-page-thank-you" style="border-top: none;">MERCI !</h1>
  </header>

  <div class="main-content">
    <div class="Checked-Green"><i class="fa fa-check main-content__checkmark" id="checkmark"></i></div>
    <div class="main-page-thank-you"><p>Vous recevrez d'ici peu un email contenant le coupon promotionnel utilisable dans le restaurant !</p></div>
  </div>
</div>
